 name: CI pipeline 
 on: [push , workflow_dispatch]
 jobs: 
    build-and-test:
        runs-on: ubuntu-latest
        timeout-minutes: 10 
        strategy:
            matrix:
                node-version: [18, 20 , 22]    # matrix that allow to checkout all node version not one
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4      # allow to downloeading entire repository 

            - name: Install node js     
              uses: actions/setup-node@v4    # allow to install node js 3 version using matrix
              with:
                node-version: ${{matrix.node-version}}
                cache: 'npm'
            - name: Installing dependences
              run: npm  install 
            
            - name: Run build
              run: npm run build
            
            - name: Run test
              run: npm test
            
            - name: upload to artifact
              if: matrix.node-version == 20
              uses: actions/upload-artifact@v4
              with:
                name: production-files #unique id per version /*${{matrix.node-version}} */
                path: dist/ 
    deploy:
        runs-on: ubuntu-latest 
        needs: build-and-test 

        steps: 
            - name: Download artifact
              uses: actions/download-artifact@v4 
              with:
                name: production-files
                path: .dist/
            - name:  Simulate deployments
              run: echo "Deploying version ${{github.sha}} to production" 



             


 
